<!-- <div class="container allstudents-container">
  <a mat-raised-button color="primary" routerLink="/add-student">Add</a>
</div> -->

<div class="content">
  <div class="left-content">
    <table mat-table [dataSource]="allServices" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Service Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Service Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{color: element.status}">{{ element.status }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">{{ element.details }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Go To details</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            (click)="openShowMoreModal(element.id, element)"
            aria-hidden="false"
            aria-label="Example delete icon"
            fontIcon="delete">
          </mat-icon>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="rowClicked(row, $event)"></tr>
    </table>
  </div>

  <div class="right-content mat-elevation-z8" *ngIf="allServices">
    <table mat-table [dataSource]="allServices">
      <!-- <ng-container *ngFor="let col of detailsColumns" [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef="">{{ col }}</mat-header-cell>
        <mat-cell *matCellDef="let obj">{{ obj[col] }}</mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="cpu">
        <th mat-header-cell *matHeaderCellDef>CPU</th>
        <td mat-cell *matCellDef="let element">{{ element.details.cpu }}</td>
      </ng-container>

      <ng-container matColumnDef="memory">
        <th mat-header-cell *matHeaderCellDef>Memory</th>
        <td mat-cell *matCellDef="let element">{{ element.details.memory }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="detailsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: detailsColumns"></tr>
    </table>
  </div>

</div>