table {
  width: 100%;
}

.content {
  /* display: flex;
  justify-content: center; */
  padding: 10px;
  margin: 10px;

  .left-content {
    float: left;
    margin: 10px
  }

  .right-content {
    float: right;
    margin: 10px;
  }
}

.allstudents-container {
  padding: 10px;
}

.details-container {
  padding: 10px;
}

.mat-row:hover {
  background-color: #acebe3;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
