/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* background-image: url("assets/full-bg-right.svg");
  background-repeat: repeat-y; */
  /* background-image: linear-gradient(306.6928056867816deg, #ffffff, #ffffff, #acebe3, #FFFFFF, #FFFFFF); */
  background: repeat-y url("assets/full-bg-right.svg") top -10rem center / 40rem, #fff;
  background-image: url("assets/full-bg-mobile.svg"), initial;
  background-position-x: center, initial;
  background-position-y: top -10rem, initial;
  background-size: 40rem, initial;
  background-repeat: repeat-y, initial;
  background-attachment: initial, initial;
  background-origin: initial, initial;
  background-clip: initial, initial;
  background-color: rgb(255, 255, 255);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-header-row {
  background-color: #005151;
  color: white;
  font-weight: bold;
}

.mat-header-cell {
  color: white;
  font-weight: bold;
}

.mat-cell, .mat-footer-cell {
  color: inherit;
}

.button-cylinder {
    padding: 0.375rem 2rem;
    font-weight: 500;
    letter-spacing: normal;
    border-radius: 2.25rem;
    color: white;
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25);
    line-height: 2;
}

.button-circle {
    height: 25px;
    width: 25px;
    font-weight: 500;
    letter-spacing: normal;
    border-radius: 50%;
    color: white;
}

.text_uppercase {
  text-transform:uppercase;
}

.text_capitalize {
  text-transform:capitalize; 
}

.mat-header-cell {
  text-transform:uppercase; 
}