table {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;

    .left-content {
        float: left;
    }

    .right-content {
        float: right;
    }
}

.status-design {
    padding: .25rem 0 1rem 0;
}
