table {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;

    .left-content {
        float: left;
    }

    .right-content {
        float: right;
    }
}

.mat-header-row {
    background-color: teal;
    color: white;
    font-weight: bold;
}

.mat-header-cell {
    color: white;
    font-weight: bold;
}

.status-design {
    .custom-config {
        background-color: green;
    }
}

